@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
   padding: 0;
   margin: 0;
   font-family: pretendard variable, sans-serif;
   background-color: var(--nextui-colors-accents0);
   /* transition: background-color 0.2s ease; */
}

/* [data-theme='dark'] {
   --background: black;
   --foreground: white;
 } */

 .container-power{
   position: absolute;
   top: 100px;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   z-index: 999;
 }
 .curvalue{
   color: #17c964;
   font-size:28px;
 }