@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
   padding: 0;
   margin: 0;
   font-family: pretendard variable, sans-serif;
   background-color: var(--nextui-colors-accents0);
   /* transition: background-color 0.2s ease; */
}

/* [data-theme='dark'] {
   --background: black;
   --foreground: white;
 } */